@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.height {
  height: 100vh;
}
.card {
  border: none;
  padding: 20px;
  background-color: #1c1e21;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.form-input {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-input i {
  position: absolute;
  font-size: 18px;
  top: 15px;
  left: 10px;
}

.form-control {
  height: 50px;
  text-indent: 24px;
  font-size: 15px;
}

.form-control:focus {
  background-color: #1e1e38;
  box-shadow: none;
  color: #fff;
  border-color: #4f63e7;
}

.form-check-label {
  margin-top: 2px;
  font-size: 14px;
}

body {
  background-color: #ffffff;
  background-image: url("https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bG9naW58ZW58MHx8MHx8&w=1000&q=80");
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
