<html>
  <head>
    <title><%=titlePage%></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/bootstrap-5/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/bootstrap-5/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/CSS/navbar.css" type="text/css" />
  </head>
</html>
