<%-include('./Includes/header.ejs')%>
<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
<link href="/CSS/home.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%-include('./Includes/navigation.ejs')%>
<!-- Intro -->
<div class="intro">
    <h1>TRY OUT THESE LEATHER PRODUCTS</h1>
         <h2>
           Up to</br>
           <span class="dis">30% 
             Discount</span></br>
           on This <br />
           New Year Season
         </h2>
         <h3>From 1st June to 31st June</h3>
         <a href="#" class="btn">SHOP NOW</a>
       </div>
     
 </header>

 <!--Benefits  -->
 <section class="section benefits">
    <div class="benefit-center box">
      <div class="benefit">
        <span class="icon"><i class="bx bx-purchase-tag"></i></span>
        <h4>Free Shipping</h4>
        <span class="text">Capped at $16 per order</span>
      </div>

     
      <div class="benefit">
        <span class="icon"><i class="bx bx-book-reader"></i></span>
        <h4>10-Day Returns</h4>
        <span class="text">Shop without any fear</span>
      </div>

      <div class="benefit">
        <span class="icon"><i class="bx bx-headphone"></i></span>
        <h4>24/7 Support</h4>
        <span class="text">We are always there to help you</span>
      </div>
    </div>
  </section>
    
    <%-include('./Includes/footer.ejs')%>